/* MVP.css v1.15 - https://github.com/andybrewer/mvp */
@font-face {font-family: 'Inconsolata_local';src: url(https://lerina.github.io/fonts/Inconsolata-Regular.ttf);}
:root {
    --active-brightness: 0.85;
    --border-radius: 5px;
    --border-console-radius: 10px;
    --box-shadow: 2px 2px 10px;
    --color-accent: #118bee15;
    /* 
    --color-bg: linear-gradient(45deg, #ffaf00, #c30000);
    saffron&deep_orange. #f2f0ee rgba(255,175,0, 0.4); 
    electric purple #bb02ff rgba(187,2,255,0.7));
    */
    -color-bg: linear-gradient(45deg, rgba(255,175,0, 0.4),rgba(187,2,255,0.7));
    --color-bg-secondary: #c3c3c3;  /*#e9e9e9;*/
    --color-link: #2c2d2f; /*#49545f;*/
    --color-secondary: #e9920d; /*#920de9;*/
    --color-secondary-accent: #920de90b;
    --color-shadow: #f4f4f4;
    --color-table: #118bee;
    --color-text: #000;
    --color-text-secondary: #666;
    --color-scrollbar: #cacae8;
    --color-text-forBG: #7b6659;
    --font-family: Ubuntu, Roboto, sans-serif;
    --font-family-code: Inconsolata_local, monospace;
    --hover-brightness: 1.3;
    --justify-important: center;
    --justify-normal: left;
    --line-height: 1.5;
    --width-card: 285px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
    --width-content: 1080px;
    --menu-speed: 0.75s; 
}

@media (prefers-color-scheme: dark) {
    :root[color-mode="user"] {
        --color-accent: #0097fc4f;
        --color-bg: #333;
        --color-bg-secondary: #555;
        --color-link: #0097fc;
        --color-secondary: #e20de9;
        --color-secondary-accent: #e20de94f;
        --color-shadow: #bbbbbb20;
        --color-table: #0097fc;
        --color-text: #f7f7f7;
        --color-text-secondary: #aaa;
        --color-text-forBG: #fafafa;
    }
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/* Layout */
article aside {
    background: var(--color-secondary-accent);
    border-left: 4px solid var(--color-secondary);
    padding: 0.01rem 0.8rem;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family);
    line-height: var(--line-height);
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

footer,
header,
main {
    margin: 0 auto;
    max-width: var(--width-content);
    padding: 2rem 1rem 2rem 1rem;
}

hr {
    background-color: var(--color-bg-secondary);
    border: none;
    height: 1px;
    margin: 4rem 0;
    width: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--justify-important);
}

section img,
article img {
    max-width: 100%;
}

section pre {
    overflow: auto;
}

section aside {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: var(--width-card);
}

section aside:hover {
    box-shadow: var(--box-shadow) var(--color-bg-secondary);
}

[hidden] {
    display: none;
}

.collapse {visibility: collapse;}

/*---------------------*/
#title-block-header {
    background-image: url("https://razafy-info.github.io/img/raz.jpg");
    /*background-image: url("https://lerina.github.io/img/binary_banner.png");*/
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    color: var(--color-text-forBG); /*#7b6659 #fff;*/
    width: 100%;
    max-width: 100%;
    padding: 6rem 0 6rem 0;
}

/*--- direct use in html*/
.author { display: none;}
.subtitle { 
    /*background-color: rgba(31,31,31,0.9);*/
    font-weight:bold; 
}
.inline_block {display: inline-block; color:#22272c;}

.sourceCode { overflow:auto; max-width: var(--width-content);}

/*pre > .sourceCode {padding-right:1em;} ---------*/

.center_justify {
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.left_header_pad {padding-left:5.3rem;padding-top:1.3rem;}

.go_up {margin-top:-3em;}
 
/*------ */
/* Headers */
article header,
div header,
main header {
    padding-top: 0;
}


header {
    text-align: var(--justify-important);
}

header a b,
header a em,
header a i,
header a strong {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

header nav img {
    margin: 1rem 0;
}

section header {
    padding-top: 0;
    width: 100%;
}


/* Nav */
nav {
    align-items: center;
    display: flex;
    font-weight: bold;
    /*justify-content: space-between; pushes logo <- and nav -> of page*/
    margin-bottom: 3rem;
    align-content: center;
}

nav ul {
    list-style: none;
    padding-left: 5rem; /*gap between logo and nav */
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    position: relative;
    text-align: left;
}

/* Nav Dropdown */
nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    background: var(--color-bg);
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    display: none;
    height: auto;
    left: -2px;
    padding: .5rem 1rem;
    position: absolute;
    top: 1.7rem;
    white-space: nowrap;
    width: auto;
    z-index: 1;
}

nav ul li ul::before {
    /* fill gap above to make mousing over them easier */
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -0.5rem;
    height: 0.5rem;
    /*margin-left: -3px;*/
}

nav ul li ul li,
nav ul li ul li a {
    display: block;
}

/*nav#TOC ul {padding-left:9rem} fix for google brakes firefox ;-( */

/*
margin-left: gap between page left border and logo 

#TOC:before {
  padding-top: 0.5rem;
  content: url("https://razafy-info.github.io/omby.svg");
  margin-left: 3rem; 
  display: flex;
    flex-direction: column;
    width: 130px;
  object-fit: cover;
}
*/

/* Typography */
code,
samp {
    background-color: var(--color-accent);
    border-radius: var(--border-radius);
    color: var(--color-text);
    display: inline-block;
    margin: 0 0.1rem;
    padding: 0 0.5rem;
}

details {
    margin: 1.3rem 0;
}

details summary {
    font-weight: bold;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--line-height);
    text-wrap: balance;
}

mark {
    padding: 0.1rem;
}

ol li,
ul li {
    padding: 0.2rem 0;
}

p {
    margin: 0.75rem 0;
    padding: 0;
    width: 100%;
}

pre {
    margin: 1rem 0;
    max-width: var(--width-card-wide);
    padding: 1rem 0;
    overflow-x: auto;
}

pre code,
pre samp {
    display: block;
    max-width: var(--width-card-wide);
    padding: 0.5rem 2rem;
    white-space: pre-wrap;
}

small {
    color: var(--color-text-secondary);
}

sup {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    color: var(--color-bg);
    font-size: xx-small;
    font-weight: bold;
    margin: 0.2rem;
    padding: 0.2rem 0.3rem;
    position: relative;
    top: -2px;
}

/* Links */
a {
    color: var(--color-link);
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
}


#TOC a { text-decoration: none; }

a:hover {
    filter: brightness(var(--hover-brightness));
}

a:active {
    filter: brightness(var(--active-brightness));
}

a b,
a em,
a i,
a strong,
button,
input[type="submit"] {
    border-radius: var(--border-radius);
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: var(--line-height);
    margin: 0.5rem 0;
    padding: 1rem 2rem;
}

button,
input[type="submit"] {
    font-family: var(--font-family);
}

button:hover,
input[type="submit"]:hover {
    cursor: pointer;
    filter: brightness(var(--hover-brightness));
}

button:active,
input[type="submit"]:active {
    filter: brightness(var(--active-brightness));
}

a b,
a strong,
button,
input[type="submit"] {
    background-color: var(--color-accent); /*link);*/
    border: 2px solid var(--color-shadow);
    color: var(--color-link);
}

a em,
a i {
    border: 2px solid var(--color-link);
    border-radius: var(--border-radius);
    color: var(--color-link);
    display: inline-block;
    padding: 1rem 2rem;
}

article aside a {
    color: var(--color-secondary);
}

/* Images */
figure {
    margin: 0;
    padding: 0;
}

figure img {
    max-width: 100%;
}

figure figcaption {
    color: var(--color-text-secondary);
    padding-left:1em;
}

/* Forms */
button:disabled,
input:disabled {
    background: var(--color-bg-secondary);
    border-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    cursor: not-allowed;
}

button[disabled]:hover,
input[type="submit"][disabled]:hover {
    filter: none;
}

form {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    display: block;
    max-width: var(--width-card-wide);
    min-width: var(--width-card);
    padding: 1.5rem;
    text-align: var(--justify-normal);
}

form header {
    margin: 1.5rem 0;
    padding: 1.5rem 0;
}

input,
label,
select,
textarea {
    display: block;
    font-size: inherit;
    max-width: var(--width-card-wide);
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    display: inline-block;
    font-weight: normal;
    position: relative;
    top: 1px;
}

input[type="range"] {
    padding: 0.4rem 0;
}

input,
select,
textarea {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem;
}

input[type="text"],
textarea {
    width: calc(100% - 1.6rem);
}

input[readonly],
textarea[readonly] {
    background-color: var(--color-bg-secondary);
}

label {
    font-weight: bold;
    margin-bottom: 0.2rem;
}

/* Popups */
dialog {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 999;
}

/* Tables */
table {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    border-spacing: 0;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    padding: 0;
    white-space: nowrap;
}

table td,
table th,
table tr {
    padding: 0.4rem 0.8rem;
    text-align: var(--justify-important);
}

table thead {
    background-color: var(--color-table);
    border-collapse: collapse;
    border-radius: var(--border-radius);
    color: var(--color-bg);
    margin: 0;
    padding: 0;
}

table thead tr:first-child th:first-child {
    border-top-left-radius: var(--border-radius);
}

table thead tr:first-child th:last-child {
    border-top-right-radius: var(--border-radius);
}

table thead th:first-child,
table tr td:first-child {
    text-align: var(--justify-normal);
}

table tr:nth-child(even) {
    background-color: var(--color-accent);
}

/* Quotes */
blockquote {
    display: block;
    font-size: x-large;
    line-height: var(--line-height);
    margin: 1rem auto;
    max-width: var(--width-card-medium);
    padding: 1.5rem 1rem;
    text-align: var(--justify-important);
}

blockquote footer {
    color: var(--color-text-secondary);
    display: block;
    font-size: small;
    line-height: var(--line-height);
    padding: 1.5rem 0;
}

/* Scrollbars */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 10px;
}


/*--------------------------*/

/*-- QA flashcards CSS */
/*USAGE:

<div class="alt-pre">
    <pre>Run the mouse 
         over here
    </pre>
    <pre>This is 
         the Alternate text
    </pre>
</div>
*/
.alt-pre {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  border-radius: var(--border-console-radius);
  
  display: inline-block;
  font-size: clamp(0.775rem, -0.5563rem + 3.5802vw, 1.375rem);  
         /*color: #18181a; top | horizontal        | bottom */
  padding: 18px calc(0.75em + 1vmin) 17px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: rgb(40, 40, 43); /* black matte*/
  opacity: 0.8;
}

alt-pre pre{ padding:0; }

.alt-pre pre:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;

}

.alt-pre pre:last-child {
  /*color: white;*/
  color: rgba(15, 255, 80, 0.9); /*Neon Green        var(--text-light);*/
  display: block;
  position: absolute;
  /*bottom: 0;*/
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 1em; /* 30%; 50*/
  left: 35%;
  transform: translateY(215%) translateX(-50%);
}

.alt-pre:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(40, 40, 43); /* black matte*/
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
  padding: 18px calc(0.75em + 1vmin) 17px;
}

.alt-pre:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.alt-pre:hover pre:last-child {
  transform: translateX(-40%) translateY(-15%);  /* x,y ctrl here*/
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.alt-pre pre > code { 
    color: #39ff14; 
    background-color: rgb(40, 40, 43); /* black matte*/
    /*
    white-space: pre-wrap;
    white-space: break-spaces;
    */

    white-space: pre;
}

.alt-pre:hover pre:last-child  > code{
    width:100%;
}
/*------------------------------ */
/* Consolidate box styling */
aside, details, pre, progress {
  background-color: var(--accent-bg);
  border: 1px solid var(--border);
  border-radius: var(--standard-border-radius);
  margin-bottom: 1rem;
}

aside {
  font-size: 1rem;
  width: 35%;
  padding: 0 15px;
  margin-inline-start: 15px;
  float: right;
}
*[dir="rtl"] aside {
  float: left;
}

/* Make aside full-width on mobile */
@media only screen and (max-width: 720px) {
  aside {
    width: 100%;
    float: none;
    margin-inline-start: 0;
  }
}

aside:after {clear: both;}

.pix-before-aside {margin:0.75rem 0;float: left; width:50%; padding-right:0.75rem;}

/*

+ I'm visible: show hidden on hover 
: Hide me.
: Hide me too.

*/
dl {
	padding: 0px;
	margin: 0px;
}

dd {
  	font-size: small;
}

dl dd:last-of-type {
	display: none;
}

dl:hover dd:last-of-type {
	display: block;
}

/* --------- Hamburger Menu -----*/
/*
<div class="menu-wrap">
    <input type="checkbox" class="toggler" />
    <div class="hamburger">
        <div></div>
    </div>
    <div class="menu">
        <div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">My Work</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
*/

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 2;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  background: transparent;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Hamburger line */
.menu-wrap .hamburger > div {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fafafa;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

/* Hamburger top & bottom line */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  background: inherit;
  height: 2px;
  width: 100%;
  z-index: 1;
}
.menu-wrap .hamburger > div:after {
  top: -10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(77, 58, 58, 0.8);
  height: 100vh;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: all var(--menu-speed) ease;
}
.menu > div {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
.menu ul {
  list-style: none;
}
.menu li {
  padding: 1rem 0;
}
.menu > div a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 1s ease-in;
}
.menu a:hover {
  color: rgb(230, 177, 177);
  transition: color 0.3s ease-in;
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  opacity: 1;
  width: 30vw;
  transition: all var(--menu-speed) ease;
}
.menu-wrap .toggler:checked ~ .menu > div {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}
.menu-wrap .toggler:checked ~ .menu > div a {
  opacity: 1;
  transition: opacity 1s ease-in;
}

@media (max-width: 500px) {
  header {
    background: url("./bg-img.jpg") no-repeat 40% center / cover;
  }
  .menu-wrap .toggler:checked ~ .menu {
    width: 65vw;
  }
}


/*
HTML:
<article style="border-right: 1.3em orange solid;">
- if there is 
: a hidden info 
- regular li
</article>

RESULT:
‣ if there is 
    a hidden info
• regular li

Restrict to ul in articles only: 
article li dl::before {
*/
li dl::before { 
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  top: 1.2em;
  left: -0.9em;
  position: relative;
}
